---
layout: home
---

<!-- Main -->
	<div id="main">

	{% for post in paginator.posts %}

      <!-- Post -->
			<article class="post">
				<header>
					<div class="title">
						<h2><a href="{{post.url}}">{{post.title}}</a></h2>
						<p>{{post.subtitle}}</p>
					</div>
					<div class="meta">
						<time class="published" datetime="2015-11-01">{{post.date | date: '%B %d, %Y'}}</time>
						<a href="#" class="author"><span class="name">Caleb Moses</span><img src="images/avatar.jpg" alt="" /></a>
					</div>
				</header>
				<a href="{{post.url}}" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
				<p>{{post.excerpt}}</p>
				<footer>
					<ul class="actions">
						<li><a href="{{post.url}}" class="button big">Continue Reading</a></li>
					</ul>
					<ul class="stats">
						<li><a href="#">General</a></li>
						<li><a href="#" class="icon fa-heart">28</a></li>
						<li><a href="#" class="icon fa-comment">128</a></li>
					</ul>
				</footer>
			</article>

    {% endfor %}

    	{% if paginator.total_pages > 1 %}
  	    <ul class="pager">
	        {% if paginator.previous_page %}
	        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="disabled button big previous">Previous Page</a></li>
	        {% endif %}
	        {% if paginator.next_page %}
	        <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button big next">Next Page</a></li>
	        {% endif %}
	    </ul>
	    {% endif %}
	    
	</div>