---
layout: default
---

{% include base.html %}

<!-- Main -->
<div id="main">

	<article class="post">

	<section>
		<h2>Caleb Moses
			<ul class="icons" style="float:right">
				<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
				<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			</ul>
		</h2>
	</section>
	
	<div class="image left"><img src="{{base}}/images/authors/caleb-moses.jpg" alt="" /></div>
	<p>Caleb is the current primary contributor to Data Stories. He is a proud mathematician, currently employed as an analyst with a New Zealand Government ministry. His technical expertise spans data science, artificial intelligence, natural language processing and data visualisation.</p>

	<p>His hobbies include programming, politics, board games, learning foreign languages, and desultory night time philosophy. He spends a lot of time on week-nights tinkering with statistical models, but likes to spend the weekend with his family and his girlfriend.</p>

	<p>The views he expresses on this site are his own, and not those of his employers or especially the New Zealand government. He may occasionally blog about issues that crop up at work, but anything controversial that relates to work will be removed if and when it is found.</p>

	<section>
		<h3>Contact</h3>
		<p>If you are interested in collaborating, or have an idea for a neat project I could work on, feel free to get in touch.</p>
	</section>


	<section id = "one">
		<ul class="actions horizontal">
			<li><a class="button" id="btn">Contact via email</a></li>
		</ul>
	</section>
		
	<section id="two" style="display:none">
		<form method="post" action="#">
			<div class="row uniform">
				<div>If you would rather use your personal email, you can email me at <a href="mailto:webmaster@example.com">calebjdmoses@gmail.com</a></div>
				<div class="6u 12u$(xsmall)">
					<input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
				</div>
				<div class="6u$ 12u$(xsmall)">
					<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
				</div>
				<div class="12u$">
					<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
				</div>
				<div class="6u 12u$(small)">
					<input type="checkbox" id="demo-copy" name="demo-copy">
					<label for="demo-copy">Email me a copy</label>
				</div>
				<div class="6u$ 12u$(small)">
					<input type="checkbox" id="demo-human" name="demo-human" checked>
					<label for="demo-human">Not a robot</label>
				</div>
				<div class="12u$">
					<ul class="actions">
						<li><input type="submit" value="Send Message" /></li>
						<li><input type="reset" value="Reset" /></li>
					</ul>
				</div>
			</div>
		</form>
	</section>

	</article>

	<!-- Sidebar -->
		<section id="sidebar">

		<!-- Posts List -->
		<section>
		<ul class="posts">
			<li>
				<article>
					<header>
						<h3><a href="/2017/08/welcome-to-jekyll.html">Welcome To Jekyll</a></h3>
						<time class="published" datetime="2015-10-20">August 20, 2017</time>
					</header>
					<a href="/2017/08/welcome-to-jekyll.html" class="image"><img src="{{base}}/images/pic08.jpg" alt="" /></a>
				</article>
			</li>
		</ul>
		</section>

		<section>
		<ul class="posts">
			<li>
				<article>
					<header>
						<h3><a href="/2017/07/blog-post-2.html">Blog Post 2</a></h3>
						<time class="published" datetime="2015-10-20">July 19, 2017</time>
					</header>
					<a href="/2017/07/blog-post-2.html" class="image"><img src="{{base}}/images/pic08.jpg" alt="" /></a>
				</article>
			</li>
		</ul>
		</section>

		<section>
		<ul class="posts">
			<li>
				<article>
					<header>
						<h3><a href="/2017/04/to-be-or-not-to-be.html">To Be Or Not To Be</a></h3>
						<time class="published" datetime="2015-10-20">April 10, 2017</time>
					</header>
					<a href="/2017/04/to-be-or-not-to-be.html" class="image"><img src="{{base}}/images/pic08.jpg" alt="" /></a>
				</article>
			</li>
		</ul>
		</section>

		<section>
		<ul class="posts">
			<li>
				<article>
					<header>
						<h3><a href="/2017/03/indiana-jones.html">Indiana jones</a></h3>
						<time class="published" datetime="2015-10-20">March 03, 2017</time>
					</header>
					<a href="/2017/03/indiana-jones.html" class="image"><img src="{{base}}/images/pic08.jpg" alt="" /></a>
				</article>
			</li>
		</ul>
		</section>

		<section>
		<ul class="posts">
			<li>
				<article>
					<header>
						<h3><a href="/2017/02/another-blog-post.html">Another Blog Post</a></h3>
						<time class="published" datetime="2015-10-20">February 19, 2017</time>
					</header>
					<a href="/2017/02/another-blog-post.html" class="image"><img src="{{base}}/images/pic08.jpg" alt="" /></a>
				</article>
			</li>
		</ul>
		</section>

	{% include footer.html %}

