<article id="comment-{{include.index}}" class="js-comment comment" itemprop="comment" itemscope itemtype="http://schema.org/Comment">
  <div class="comment__avatar-wrapper">
    <img class="comment__avatar" src="" srcset="" alt="" height="50" width="50">
  </div>
  <div class="comment__content-wrapper">
    <h3 class="comment__author" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">{{include.name}}</span>
    </h3>
    <div class="comment__date">
      <a href="#comment1" itemprop="url">
      <time datetime="{{include.date}}" itemprop="datePublished">{{include.date | date: '%B %d, %Y'}}</time>
      </a>
    </div>
    <div itemprop="text">
    <p>{{include.message | markdownify}}</p></div>
    <ul class="actions small">
      <li><div class="comment-reply">
      <a rel="nofollow" class="button small" href="#comment-{{ include.index }}" onclick="return addComment.moveForm('comment-{{ include.index }}', '{{ include.index }}', 'respond', '{{ page.slug }}')">Reply</a>
      </div></li>
     </ul>
  </div>
</article>