---
layout: default
---

<!-- Main -->
	<div id="main">

		<article class="post">

			{% include post/header.html %}

			<body>

					<div>

						<div class="image main"><img src="/images/{{page.image_path}}" alt="" /></div>	

						{{content}}

					</div>

			</body>

			<section>

				<h3>Post a comment:</h3><br>

				{% include post/comment-form.html %}

				{% include post/comment-section.html %}

			</section>

			{% include post/footer.html %}

		</article>

		<!-- Sidebar -->
			<section id="sidebar">

				{% include sidebar/posts.html %}

				{% include about.html %}

				{% include footer.html %}

			</section>

	</div>