---
layout: default
---
	<body class="single">

		<!-- Wrapper -->
			<div id="wrapper">

				{% include header.html %}

				{% include menu.html %}

				<!-- Main -->
					<div id="main">

						<article class="post">

							{% include post-header.html %}

							<body>

								<!-- Wrapper -->
									<div id="wrapper">

										{% include header.html %}

										{% include menu.html %}

										{{content}}

									</div>

								{% include scripts.html %}

							</body>

								{% include post-footer.html %}

							
						</article>

					</div>

			{% include footer.html %}

		</div>

	{% include scripts.html %}

</body>