<!-- Mini Posts -->
{% include base.html %}

	<section>
		<div class="mini-posts">

			{% for post in site.posts limit: 4 %}

			<!-- Mini Post -->
				<article class="mini-post">
					<header>
						<h3><a href="{{post.url}}">{{post.title}}</a></h3>
						<time class="published" datetime="2015-10-20">{{post.date | date: '%B %d, %Y'}}</time>
						<a href="#" class="author"><img src="{{base}}/images/avatar.jpg" alt="" /></a>
					</header>
					<a href="{{post.url}}" class="image"><img src="{{base}}/images/pic04.jpg" alt="" /></a>
				</article>

			{% endfor %}

		</div>

	</section>